h1 {
    text-align: center;
    color: white;
    background-color: navy;
    padding: 2%;
}

#search-btn {
    margin-top: 8px;
    width: 100%;
}

.card {
    margin-top: 20px;
    margin-left: 20px;
}

.current-weather {
    margin-top: -125px;
    margin-left: 600px; 
}

.forecast-weather {
    display: block;
    margin-top: 100px;
    float: right;
    margin-left: 0px;
    margin-right: 20px;
}

.list-group {
    position: absolute;
    left: 0px;
    top: 121px;
    width: 100%;
}