h1 {
    text-align: center;
    color: white;
    background-color: navy;
    padding: 2%;
}

#search-btn {
    margin-top: 8px;
    width: 100%;
}

.card {
    margin-top: 20px;
    margin-left: 20px;
}

.current-weather {
    margin-top: -165px;
    margin-left: 600px;
}